y.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slide {
    scroll-snap-align: start;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
}

.slide img {
    width: 300px;
    height: 375px;
}
